@import "nib"

html
	margin: 0
	padding: 0
	height: 100%
	overflow: hidden
	font-family: Helvetica, monospace
	background-image: linear-gradient(110deg, #000 0%, #222 30%, #060606 30%, #333 100%)
	background-color: #191919
	background-position: center
	background-attachment: fixed
	background-repeat: no-repeat
	background-size: cover

body
	margin: 0
	padding: 0
	height: 100%
	display: flex
	flex-direction: column
	overflow: hidden

	@require "./View"

// Others
@require "./toastr"


