div.View
	flex: 100 100 auto
	display: flex
	flex-direction: column

	> .header
		flex: 0 0 auto
		height: 100px
		margin-bottom: 20px
		transition-duration: 0.25s
		transition-property: opacity
		opacity: 0

		&.online
			opacity: 1

		> p.info
			margin: 0
			text-align: center
			font-size: 22px
			line-height: 50px
			color: #fff

			> [data-id="swis-reflector-code"]
				color: orange
				cursor: pointer
				transition-duration: 0.2s

				&:hover
					color: yellow

		> .controls
			height: 50px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center

			button
				height: 30px
				border: 0
				border-radius: 6px
				margin: 0 10px
				padding: 0 10px
				min-width: 200px
				font-size: 12px
				color: #fff
				outline: none
				cursor: pointer

				&.primary
					background-color: #2ebfe3

				&.secondary
					background-color: #ed4d3c

	> [data-id="swis-reflector-mirror"]
		@require "./reset"

		flex: 100 100 auto
		display: flex
		flex-direction: column
		margin: 0 100px
		overflow: hidden
		background-color: rgba(#fff, 0.85)
		border: 1px solid #333
		box-shadow: 0px 0px 5px 1px rgba(#333, 0.75)
		border: 4px solid #141414

		&.paint
			cursor: crosshair  // It does not work
			border-color: green  // NOTE: Should match paint color

	> .footer
		flex: 0 0 auto
		height: 100px
