div.View
	flex: 100 100 auto
	display: flex
	flex-direction: column
	padding: 10px

	> .header
		flex: 0 0 auto
		height: 100px
		margin-bottom: 20px
		transition-duration: 0.25s
		transition-property: opacity
		opacity: 0

		&.online
			opacity: 1

		> p.info
			margin: 0
			text-align: center
			font-size: 22px
			line-height: 50px
			color: #fff

			> [data-id="swis-reflector-code"]
				color: orange
				cursor: pointer
				transition-duration: 0.2s

				&:hover
					color: yellow

		> .controls
			height: 50px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center

			button
				height: 30px
				border: 0
				border-radius: 6px
				margin: 0 10px
				padding: 0 10px
				min-width: 200px
				font-size: 12px
				color: #fff
				outline: none
				cursor: pointer

				&.primary
					background-color: #2ebfe3

				&.secondary
					background-color: #ed4d3c

	> [data-id="reflector-container"]
		position: relative  // Important
		max-width: 100%
		flex: 100 100 auto
		flex-direction: column
		margin: 0 auto
		overflow: scroll
		background-color: rgba(#fff, 0.85)
		box-shadow: 0px 0px 5px 1px rgba(#333, 0.75)
		border: 4px solid #141414
		opacity: 0
		transition-property: opacity
		transition-duration: 2s

		&.visible
			opacity: 1

		&.paint
			cursor: crosshair  // It does not work
			border-color: #80ff00

		> div.swis-remote-cursor
			size = 50px

			pointer-events: none
			position: absolute
			z-index: 99999
			padding: 0
			margin: 0
			margin-left: -1 * (size / 2)
			margin-top: -1 * (size / 2)
			width: size
			height: size
			background-image: url("../resources/images/remote-cursor.svg")
			background-position: center
			background-size: cover

	> .footer
		flex: 0 0 auto
		height: 50px
