@import "nib"

[data-id="swis-button-container"]
	position: fixed
	z-index: 9999
	bottom: 0
	width: 100%
	height: 0
	overflow:	visible

	@require "./reset"
	@require "./Button"

// Others
@require "./toastr"


